[Unit]
Description=AKA DUMB CLOCK service

[Service]
Type=simple
WorkingDirectory=/home/root/RGB_clock/
ExecStart=/usr/bin/python clock.py &
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
